@charset "utf-8";
/* ----------------------------
* header top
* -------------------------- */


/* ----------------------------
* time and pay
* -------------------------- */

.main_container .time_pay {
    background-color: #221815;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 151px;
}

@media (max-width: 767px) {
    .main_container .time_pay {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        height: auto;
        width: 93%;
        margin: 0 auto;
    }
    .main_container .time_pay>div {
        margin-bottom: 10px;
    }
}

.time_pay {
    text-align: center;
}

.time_title,
.pay_title {
    background-color: #776957;
    width: 119px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:767px) {
    .time_title,
    .pay_title {
        width: inherit;
        height: inherit;
    }
}
